@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.menu ul::before{
  width: 0;
}

.menu :where(li ul) {
  margin-left: 0 !important;
}
/* 
.menu :where(li > details > summary):after, .menu :where(li > .menu-dropdown-toggle):after {
  transform: rotate(-43deg) !important;
  /* transform-origin: 128% 75%; 
}
.menu :where(li > details[open] > summary):after, .menu :where(li > .menu-dropdown-toggle.menu-dropdown-show):after {
  transform: rotate(225deg); 
  /* transform-origin: 75% 75%; */
/* } */
.menu :where(li > details > summary):after, .menu :where(li > .menu-dropdown-toggle):after {
  height: 0.4rem;
  width: 0.4rem;
  box-shadow: 1px 1px;
}


/* Aside scrollbar */
::-webkit-scrollbar {
  width: 1.5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #bdbdbd; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


/* Body scrollbar  */
body::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}