@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
  /* font-family: 'Public Sans', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */

}

#topbar{
  backdrop-filter: blur(6px);
}
.menu ul::before{
  width: 0;
}

.menu :where(li ul) {
  margin-left: 0 !important;
}

#sidebar .sidebar__active{
  background: linear-gradient(to right, #7367F0, #9D94F5) !important;
  color: #fff;
}
/* 
.menu :where(li > details > summary):after, .menu :where(li > .menu-dropdown-toggle):after {
  transform: rotate(-43deg) !important;
  /* transform-origin: 128% 75%; 
}
.menu :where(li > details[open] > summary):after, .menu :where(li > .menu-dropdown-toggle.menu-dropdown-show):after {
  transform: rotate(225deg); 
  /* transform-origin: 75% 75%; */
/* } */
.menu :where(li > details > summary):after, .menu :where(li > .menu-dropdown-toggle):after {
  height: 0.4rem;
  width: 0.4rem;
  box-shadow: 1px 1px;
}


/* Aside scrollbar */
::-webkit-scrollbar {
  width: 1.5px;
  /* display: none; */
  margin-right: 5px;
}

/* #sidebar:hover ~ ::-webkit-scrollbar{
  display: block;
} */

::-webkit-scrollbar-track {
  background: #fff; 
}
 
::-webkit-scrollbar-thumb {
  background: #acabab; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


/* Body scrollbar  */
body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 /* 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
} */


#divider::before, #divider::after{
  content: '';
  background-color: #dedede;
  display: block;
  width: .5px;
  height: 25px;
  top: -27px;
  left: 12.5px;
  position: absolute;
}
#divider::after{
  top: 34px;
  left: 12.5px;
}

#progress-custom{
  background-color: #c7c5df !important;
}
#progress__accent.progress{
  background-color: #D9F8FC !important;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  top: 17px !important;
  left: 195px !important;
}
.swiper-pagination-bullet{
  background-color: #ABA4F6 !important;
}
.swiper-pagination-bullet-active{
  background-color: white !important;
}
#earning__progress.progress{
  height: 3.5px !important;
  width: 75px !important;
}

/* Earning card */
.earning text {
  fill: #AAA8B2 !important;
  font-size: 13px !important;
}
.earning .recharts-bar-rectangle path{
  border-radius: 15px !important;
}
/* Support tracker chart */
#SvgjsG1032{
  width: 400px !important;
}
#SvgjsText1048{
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
}
.checkbox{
  width: 16px !important;
  height: 16px !important;
}

.checkbox-primary {
  border-color: #DBDADE;
}
.checkbox-primary:hover {
  border-color: #DBDADE;
  box-shadow: 0px 0px 3px #DBDADE;
}
.btn-active{
  background: #37CB79 !important;
  color: #fff;
}